
@{
    ViewData["Title"] = "Об идеях";
    Layout = "_Layout";
}

<div class="container-fluid p-0 col-12">
    <div class="jumbotron jumbotron-fluid bg-black">
        <div class="container p-3 d-flex justify-content-center align-items-center flex-wrap">
            <a class="clr-white" asp-action="index" asp-controller="authorize">
                <h1 style="font-size: 34px; font-weight: 900; letter-spacing: -0.4px;">
                    Roundile
                </h1>
            </a>
            <div class="col-12 col-md-7 col-lg-5">
                <img src="~/media/site/roundilecommunity.png" class="col-12" />
            </div>
        </div>
        <div class="container main_idea d-flex">
            <ul class="nav">
                <li class="nav-item">
                    <a asp-controller="about" asp-route-section="ideas" class="nav-doc-link nav-doc-link-active clr-white ps-3 pe-3 nav-link">Об идеях</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="about" asp-route-section="communication" class="nav-doc-link clr-white ps-3 pe-3 nav-link">Коммуникация</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="about" asp-route-section="contacts" class="nav-doc-link clr-white ps-3 pe-3 nav-link">Контакты</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="about" asp-route-section="us" class="nav-doc-link clr-white ps-3 pe-3 nav-link">О нас</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container main_idea d-flex">
        <div class="pt-5 pb-4 col-12">
            <section>
                <div class="mb-3">
                    <div class="pb-4">
                        <h3 class="doct-h3">Что представляет идея?</h3>
                        <p class="clr-mute t-xl t-med">
                            🚀 Идея - это мысли автора, его мнение и нововведение. Она
                            расскажет другим людям, что хочет внести или обновить автор в
                            этом мире. Выражай идею топиками 💬, реализуй свои планы с
                            помощью целей 🎯 и задач, приглашай других и принимай заявки
                            на участие, обсуждай и сравнивай своё творчество с другими.
                            Улучшай планету вместе с нами!
                        </p>
                    </div>
                    <div class="pb-3">
                        <div class="d-flex align-items-center">
                            <h3 class="doct-h2">
                                Реакции и фидбек
                            </h3>
                            <label class="ps-2" style="color: unset !important;">😎</label>
                        </div>
                        <p class="clr-mute t-med">
                            Другие пользователи могут отправлять реакции на ваши идеи, с
                            их помощью вы можете узнать мнение сообщества. Также
                            отправляйте сами реакции другим, чтобы развивать комьюнити.
                        </p>
                    </div>
                    <div class="pb-3">
                        <h3 class="doct-h2">
                            О топиках
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="33"
                                 height="33"
                                 fill="currentColor"
                                 class="ms-2 text-muted bi bi-book"
                                 viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                            </svg>
                        </h3>
                        <p class="clr-mute t-med">
                            С помощью топика автор идеи может подробно описать каждую
                            своставляющую своей идеи. Другие люди могут комментировать их,
                            это поможет автору узнать мнение сообщества и обсудить тему.
                        </p>
                    </div>
                    <div class="pb-3">
                        <div class="d-flex align-items-center">
                            <h3 class="doct-h2">
                                Подробней о целях и задачах
                            </h3>
                            <label class="ps-2" style="color: unset !important;">🏆🎯</label>
                        </div>
                        <p class="clr-mute t-med">
                            Цели сделаны для того, чтобы модераторы идеи (сформировавшайся
                            команда) могли создавать в ней задачи. У задач есть
                            специальный статус - выполнена она или нет. С помощью целей
                            можно смотреть прогресс идеи и смотреть реализацию, чтобы
                            понять, что еще предстоит сделать, а что уже сделано.
                        </p>
                    </div>
                    <div class="pb-3">
                        <div class="d-flex align-items-center">
                            <h3 class="doct-h2">
                                Статус идей - что это?
                            </h3>
                            <label class="ps-2" style="color: unset !important;">🌌</label>
                        </div>
                        <p class="mb-1 clr-mute t-med">
                            Статус идеи показывает ее нынешнее состояние. Всего существует
                            три статуса (возможно в дальнейшем что-то изменится): <br />
                        </p>
                        <label class="pb-1 clr-mute">
                            <strong>Поиск участников</strong>
                            🧐 - идея проводит набор в команду для реализации <br />
                            и обсуждений, отправляйте заявки в идею и ждите ответа!
                        </label>
                        <label class="pb-1 clr-mute">
                            <strong>В разработке</strong>
                            🚀 - идея находится на стадии формирования целей, активно
                            <br />
                            обсуждаются топики и ведутся переговоры с модераторами.
                        </label>
                        <label class="pb-1 clr-mute">
                            <strong>Выполнена</strong>
                            🌌 - идея выполнена и ждет обновлений и предложений.
                        </label>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>