.container-sm {
    max-width: 1040px !important;
}

#asideAdaptiveContainer {
    width: 320px;
}

.t-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.idea-home-post:hover {
    background-size: 105% auto !important;
}

.sort-react {
    padding: 5px 10px 10px 10px;
    border-radius: 19px;
    transition: all 0.15s ease-in;
    font-size: 22px;
    box-shadow: 1px 2px 24px #242424;
    background-color: #4e4e4e59;
}

    .sort-react:hover {
        background: rgba(0, 0, 0, 0.21);
        transform: scale(1.3);
    }

.search-dropdown {
    color: rgb(129, 129, 129) !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    padding: 6px 13px !important;
}

.search-nav-form {
    background: #141414 !important;
}

    .search-nav-form button {
        background: #141414 !important;
    }

.search-form {
    height: 38px !important;
}

.search-dropdown:focus {
    background-color: #161616 !important;
}

.search-dropdown:hover {
    background-color: #161616 !important;
}

.asideRotateIdea {
    position: absolute;
    width: 122.93px;
    height: 89.09px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    transform: rotate(18.58deg);
    background-size: 100% auto !important;
    background-position: center !important;
    transition: all 0.3s ease;
}

    .asideRotateIdea:hover {
        transform: rotate(0);
    }

.aside-rotate-padding {
    padding-right: 4.5rem;
    padding-bottom: 4.5rem;
}

.btn-page {
    border: 1px solid rgb(71, 71, 71) !important;
    background-color: #0d0d0d !important;
    color: white !important;
}

.btn-page-active {
    color: rgb(165, 165, 165) !important;
    border: 1px solid #252525 !important;
    background-color: black !important;
}

.btn_reaction_shadow {
    transition: all 0.3s ease;
    box-shadow: 0px -1px 5px 7px #1414148c !important;
}

    .btn_reaction_shadow:hover {
        box-shadow: 0px -1px 5px 7px #1414148c !important;
    }

@media (min-width: 230px) {
    .search-nav-dropdown {
        border: 1px solid #1b1b1b !important;
        width: 80vw !important;
    }

    .idea_home_adaptive {
        width: 95% !important;
    }

        .idea_home_adaptive p {
            max-width: 230px;
        }

    .idea_home_size {
        height: 270px !important;
    }

    .idea-home-post {
        width: 339.01px !important;
        height: 273.51px !important;
        transition: all 0.2s ease-in;
    }

    #asideAdaptiveContainer {
        display: none;
    }
}

@media (min-width: 672px) {
    .search-nav-dropdown {
        border: 1px solid #1b1b1b !important;
        width: 560px !important;
    }

    .idea-home-post {
        width: 615.01px !important;
        height: 379.51px !important;
        transition: all 0.2s ease-in;
    }

    #asideAdaptiveContainer {
        display: flex;
    }
}

.b-all {
    border: 1px solid #242424 !important;
}

.b-bottom {
    border-bottom: 1px solid #242424;
}

.b-top {
    border-top: 1px solid #242424;
}

.b-left {
    border-left: 1px solid #242424;
}

.b-right {
    border-right: 1px solid #242424;
}

#repostWindow {
    background-color: black;
    width: 360px;
    min-height: 500px;
    border: 1px solid #242424;
}

#repostWindowLoad {
    overflow-y: scroll;
    height: 269px;
}

.repostToUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .repostToUser a {
        color: white !important;
        font-weight: 500 !important;
        font-size: 14px !important;
    }

    .repostToUser button {
        color: white;
        font-size: 12px !important;
        --bs-bg-opacity: 1;
        background-color: transparent !important;
    }

        .repostToUser button:hover {
            color: rgb(21, 150, 255);
        }

    .repostToUser img {
        border-radius: 50%;
        width: 39px;
        height: 39px;
    }

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
    border-radius: 20px;
}

.find-user h3 {
    font-weight: 900 !important;
    font-size: 30px !important;
    line-height: 45px !important;
}


@media (min-width: 230px) {
    .btn-tag-sm {
        padding: 4px 4px!important;
        font-size: 10px!important;
    }
}

@media (min-width: 768px) {
    .btn-tag-sm {
        padding: 6px 8px!important;
        font-size: 11px !important;
    }
}

.btn-tag-sm {
    padding: 6px 8px;
}

.btn-unfocus:focus {
    box-shadow: unset !important;
}

.hover-white {
    transition: all 0.5s ease;
}

    .hover-white:hover {
        color: white !important;
    }

.rad-sm {
    border-radius: 3px !important;
}

.rad-md {
    border-radius: 6px !important;
}

.rad-lg {
    border-radius: 9px !important;
}

.rad-xl {
    border-radius: 12px !important;
}
