#topicWindow {
    background-color: black;
    min-height: 450px;
    border: 1px solid #242424;
}

#goalWindow {
    background-color: black;
    min-height: 600px;
    border: 1px solid #242424;
}

#topicWindow p {
    color: #989898 !important;
}

#goalWindow p {
    color: #989898 !important;
}

.windowIdeaBackAvatar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url(image.png);
    border-radius: 6px;
    transform: rotate(-8.47deg);
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 81.5px;
    height: 54.76px;
}

.t-window-title {
    font-weight: 800 !important;
    letter-spacing: -0.2px !important;
}

.topicMessage {
    margin-bottom: 0.5rem;
    display: flex;
    width: 100%;
}

    .topicMessage img {
        border-radius: 50%;
        height: 26px;
        width: 26px;
    }

    .topicMessage div {
        font-size: 13px;
        color: #9e9e9e !important;
        font-weight: 500;
        padding-left: 8px;
    }

    .topicMessage a {
        font-size: 13px !important;
        color: white !important;
        font-weight: 500;
    }

#topicWindowCommentsLoad {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 398px;
}

#goalWindowLoad {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 374px;
}

.goalMessage {
    max-width: 802px;
    display: flex;
    width: 100%;
}

    .goalMessage img {
        border-radius: 50%;
        height: 26px;
        width: 26px;
    }

    .goalMessage a {
        font-size: 13px;
        color: white !important;
        font-weight: 500;
    }

    .goalMessage p {
        padding-left: 0px !important;
        font-size: 13px;
        color: #9e9e9e !important;
        font-weight: 500;
        padding-left: 8px;
    }

    .goalMessage span {
        padding-left: 0px !important;
        font-size: 13px;
        --bs-text-opacity: 1;
        color: #6c757d !important;
        font-weight: 500;
        padding-left: 8px;
    }

.g-status {
    background-color: rgba(27, 27, 27, 0.73) !important;
    text-align: center !important;
    padding: 2px 16px !important;
    height: 36px;
    font-size: 19px !important;
    border-radius: 20px !important;
    width: 58px;
}

.t-idea-status {
    padding: 10px 12px;
    background-color: #000000;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 400;
}

.g-status-text {
    background-color: rgba(27, 27, 27, 0.73) !important;
    text-align: center !important;
    padding: 4px 10px !important;
    height: 36px;
    font-size: 19px !important;
    border-radius: 20px !important;
    width: fit-content;
}

.btn-idea-skill {
    background-color: #000000 !important;
    width: 151px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 34px;
    border-radius: 13px !important;
}

.box-shadow:hover {
    box-shadow: 3px 5px 5px rgb(0 0 0 / 55%);
}

#newTopicWindow {
    background-color: black;
    width: 360px;
    min-height: 470px;
    border: 1px solid #242424;
}

#newGoalWindow {
    background-color: black;
    width: 360px;
    min-height: 470px;
    border: 1px solid #242424;
}

.like-transition {
    transition: all 0.2s ease-in;
}

#membersWindow {
    background-color: black;
    width: 360px;
    min-height: 500px;
    border: 1px solid #242424;
}

.idea-input-avatar {
    height: 99px !important;
    width: 144px !important;
    border-radius: 9% !important;
    font-size: 0px !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

@media (min-width: 230px) {

    .window_resize {
        width:90vw!important;
    }

    #idea-react-adaptive {
        padding-top: 0.5rem;
    }

    .settings-section-adaptive {
        width: 30px !important;
    }

    #settings-main-adaptive {
        padding-right: 0rem !important;
        padding-right: 0rem !important;
    }

        #settings-main-adaptive button {
            font-size: 0px !important;
        }

    .topic-description {
        max-width: 64vw;
    }

    .idea-full-wrapper {
        height: 364px !important;
    }

    #ideaSecondContainer {
        width: 316.01px !important;
    }

    .idea-post-upd {
        width: 326.01px !important;
        height: 288.51px !important;
        transition: all 0.2s ease-in;
    }

    .settings-main-adaptive {
        width: 316.01px !important;
    }

    .idea-post-upd h3 {
        font-size: 28px !important;
        text-align: center !important;
    }

    .section-link {
        font-size: 0px !important;
    }

        .section-link svg {
            width: 24px !important;
            height: 24px !important;
        }

    .idea-inside-wrapper {
        padding: 1rem;
    }

    #asideIdeaContainer {
        width: 100% !important;
    }

    #topicWindowCommentsLoad {
        height: 278px;
    }

    .content-center-adaptive {
        text-align: center !important;
    }

    .tag-adaptive {
        padding: 1rem !important;
        display: flex !important;
        justify-content: center !important;
        padding-left: 3rem !important;
        width: 100% !important;
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    .role-center-adaptive {
        display: flex !important;
        justify-content: center !important;
    }

    .member-btns-adaptive {
        display: flex !important;
        justify-content: center !important;
        border: none;
    }

    .similar-center-adaptive {
        padding-top: 1.5rem !important;
    }

    #settings-main-adaptive img {
        width: 24px !important;
        height: 24px !important;
    }

    #settings-main-adaptive a {
        font-size: 12px !important;
    }

    #mainIdeaContainer {
        width: 100% !important;
    }
}

@media (min-width: 400px) {
    .window_resize {
        width: 86vw !important;
    }
    #mainIdeaContainer {
        width: 400px !important;
    }
}

@media (min-width: 768px) {
    #topicWindowCommentsLoad {
        height: 276px;
    }
    .window_resize {
        width: 812px!important;
    }
    #idea-react-adaptive {
        padding-top: 2rem;
    }

    #ideaSecondContainer {
        width: 445.01px !important;
    }

    .topic-description {
        max-width: 382px !important;
    }

    .idea-full-wrapper {
        height: 369px !important;
    }

    .content-center-adaptive {
        text-align: left !important;
    }

    .tag-adaptive {
        padding-left: 0px !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        display: flex !important;
        justify-content: left !important;
        width: 230px !important;
    }

    .role-center-adaptive {
        padding-left: 6px;
        display: flex !important;
        justify-content: start !important;
    }

    .member-btns-adaptive {
        display: flex !important;
        justify-content: left !important;
        border: none;
    }

    .similar-center-adaptive {
        padding-top: 1.5rem !important;
        width: 155px !important;
    }

    .idea-post-upd {
        width: 452.01px !important;
        height: 275.51px !important;
    }

        .idea-post-upd h3 {
            font-size: 32px !important;
            text-align: left !important;
        }

    #mainIdeaContainer {
        display: flex !important;
        width: 790px !important;
    }

    #asideIdeaContainer {
        width: 354px !important;
    }

    .position-fixed-idea {
        position: fixed !important;
    }

    .idea-wrapper-adaptive {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    #settings-main-adaptive {
        width: 305.01px !important;
        padding-right: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media (min-width: 1200px) {
    #topicWindowCommentsLoad {
        height: 374px;
    }
    .window_resize {
        width: 1000px !important;
    }
    #settings-main-adaptive button {
        font-size: 12px !important;
    }
    #idea-react-adaptive {
        padding-top: 3rem;
    }
    #mainIdeaContainer {
        width: unset !important;
    }
    .idea-post-upd {
        width: 615.01px !important;
        height: 379.51px !important;
    }

        .idea-post-upd h3 {
            font-size: 36px !important;
        }
    .idea-full-wrapper {
        height: 439px !important;
    }
    .section-link {
        font-size: 13px !important;
    }
        .section-link svg {
            width: unset !important;
            height: unset !important;
        }
    .topic-description {
        max-width: 482px !important;
    }

    .idea-wrapper-adaptive {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    .settings-main-adaptive {
        width: 615.01px !important;
    }

    #settings-main-adaptive img {
        width: 33px !important;
        height: 33px !important;
    }

    #ideaSecondContainer {
        width: 615.01px !important;
    }
}

@media (min-width: 1600px) {
    #topicWindowCommentsLoad {
        height: 424px;
    }
}