* {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 1129px !important;
}

.bg-darkc {
    background-color: #0a0a0a !important;
}

.idea-img-slide {
    width: 355.01px;
    height: 204.51px;
    border-radius: 6px;
    background-size: 100% auto !important;
    background-position: center !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.t-sm {
    font-size: 12px !important;
}

.t-md {
    font-size: 14px !important;
}

.t-lg {
    font-size: 16px !important;
}

.t-xl {
    font-size: 18px !important;
}

.t-tit-md {
    font-weight: 800;
}

.t-warning {
    color: #af640c !important;
}

.t-med {
    font-weight: 500 !important;
}

.t-smbold {
    font-weight: 600 !important;
}

.t-bold {
    font-weight: 700 !important;
}

.t-xbold {
    font-weight: 800 !important;
}

.clr-mute {
    color: #9e9e9e !important;
}

.clr-blue {
    color: #1c92ff !important;
}

.clr-white {
    color: white !important;
}

.icon-link-btn {
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease 0s;
    padding: 12px 16px 12px 18px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid transparent;
    background: #1c92ff;
    border: 1px solid #14436d;
    box-sizing: border-box;
    border-radius: 8px;
}

.icon-btn-disabled {
    background-color: rgb(27, 27, 27) !important;
    border: 1px solid #363636;
}

.icon-link-btn:hover {
    border: 1px solid rgb(53, 53, 53);
    color: white;
}

.t-brand {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 34px;
    letter-spacing: -0.03em;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.t-nav-link {
    color: #c3c3c3;
    transition: color 0.2s ease-in-out;
}

    .t-nav-link:hover {
        color: #f7f7f7;
    }

.container-slide h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 45px;
}

.container-slide p {
    font-weight: 500;
    color: #9e9e9e !important;
    font-size: 16px;
}

.btn-reaction {
    display: flex;
    align-items: center;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 24px;
    border: none;
    padding: 10px 11px;
    color: white;
    transition: background 0.2s ease-in-out;
}

    .btn-reaction span {
        font-weight: 500;
        font-size: 18px !important;
    }

    .btn-reaction:hover {
        background: rgba(0, 0, 0, 0.9);
    }

.react-wrap-noactive {
    left: 0px !important;
    z-index: -100;
    opacity: 0 !important;
}

.reaction-wrap {
    z-index: 1;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.react-wrap-active {
    background: #1c92ff !important;
    left: 0px !important;
    z-index: 10 !important;
}

    .react-wrap-active button {
        background: #ffffff52 !important;
        animation: onReaction 0.3s ease;
        box-shadow: 0px -1px 5px 7px #ffffff52;
    }

.btn_like_animate {
    animation: onReaction 0.5s ease;
}

@keyframes onReaction {
    from {
        box-shadow: 0px -1px 60px 22px #ffffff23;
    }

    50% {
        box-shadow: 0px -1px 120px 82px #ffffff52;
    }

    to {
        box-shadow: 0px -1px 100px 22px #ffffff1f;
    }
}

.t-idea-slide-md {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.z-100 {
    z-index: 100;
}

.z-1 {
    z-index: 1;
}

.t-emoji-sm {
    font-size: 26px;
}

.user-avatar-sm {
    height: 66px;
    width: 66px;
    border-radius: 50%;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-tag {
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid #17355d;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 6px 8px;
    font-weight: 500;
    color: #379eff;
    font-size: 11px;
    transition: background 0.2s ease-in-out;
}

.async-tag-avatar {
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.user-avatar-hide {
    opacity: 0.25;
}

#hideBackgroundWrapper {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.86);
    z-index: 100;
}

.login-window {
    min-height: 320px;
    width: 350px;
    background-color: #0f0f0f;
}

.form-floating label {
    color: rgb(206, 206, 206) !important;
}

.form-control {
    color: white !important;
    background-color: rgb(27, 27, 27) !important;
    border: 1px solid #242424 !important;
}

#selectTagWindow {
    transition: all 2s ease-in-out;
}

.win-hide {
    opacity: 1;
    transition: all 1s ease-in-out;
}

.win-hide-active {
    opacity: 0;
}

.selectTagContainer {
    transition: all 2s ease-in-out;
}

@keyframes changeWindow {
    from {
        opacity: 0;
        z-index: -10;
        left: 0px;
    }

    50% {
        opacity: 1;
        left: 360px;
    }

    to {
        left: 0px;
    }
}

.selectTagContainer-animate {
    animation: changeWindow 1.5s ease;
}

@keyframes goToPrevWindow {
    from {
        opacity: 1;
        left: 0px;
    }

    50% {
        z-index: -10;
        left: 360px;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

.signin-window-animate {
    animation: changeWindow 1.5s ease;
}

.selectTagContainer-prev {
    animation: goToPrevWindow 1.5s ease;
}

.z-m1 {
    z-index: -1 !important;
}

.z-m10 {
    z-index: -10 !important;
}

.z-m100 {
    z-index: -100 !important;
}

.z-m1000 {
    z-index: -1000 !important;
}

.z-10 {
    z-index: 10 !important;
}

.z-100 {
    z-index: 100 !important;
}

.z-1000 {
    z-index: 1000 !important;
}

.z-0 {
    z-index: 0 !important;
}

.flex-form-dark {
    border: 1px solid #292929;
    border-radius: 4px !important;
    display: flex;
    background-color: rgb(27, 27, 27) !important;
}

    .flex-form-dark input {
        border: unset !important;
    }

        .flex-form-dark input:focus {
            box-shadow: none !important;
        }

    .flex-form-dark button {
        background-color: rgb(27, 27, 27) !important;
    }

.bg-mute-window {
    background-color: rgb(32, 32, 32) !important;
}

.dropdown-item:hover {
    color: #acacac;
    background-color: unset !important;
}

.h-100 {
    height: 100%;
}

#newChatWindow {
    background-color: black;
    width: 360px;
    min-height: 500px;
    border: 1px solid #242424;
}

#newChatWindowLoad {
    overflow-y: scroll;
    height: 269px;
}

#activeChatLoad {
    height: 538px;
}

#chatMessageForm {
    background-color: #232323 !important;
}

    #chatMessageForm input {
        height: 50px;
        background-color: #232323 !important;
    }

    #chatMessageForm button {
        background-color: transparent !important;
    }

#choiceEmojiWindow {
    height: 344px;
    width: 260px;
    bottom: 54px;
    border-radius: 5px;
    background-color: #1b1b1b !important;
    border: 1px solid #242424;
}

    #choiceEmojiWindow button {
        font-size: 24px;
    }

.dropdown-item:focus {
    background-color: #2f2f2f !important;
}

.section-link {
    cursor: pointer !important;
    color: #838383;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #4d4d4d;
    padding: 7px 10px 14px 10px;
    transition: border-bottom 0.2s ease-in-out;
}

.section-link-active svg {
    color: #1c92ff !important;
}

.section-link-active {
    color: white !important;
    border-bottom: 1px solid #1c92ff !important;
}

.section-link:hover {
    color: white !important;
    border-bottom: 1px solid #014f97;
}

.btn {
    border: unset;
}

.bg-input {
    background-color: #1b1b1b;
}

.bg-lightupd {
    background-color: #121212 !important;
}

.bg-darkupd {
    background-color: #000000 !important;
}

.bg-darky {
    background-color: #171717 !important;
}

.bg-darklight {
    background-color: #232323 !important;
}

.t-smtitle {
    font-weight: 800 !important;
    font-size: 26px !important;
    letter-spacing: -0.2px !important;
}

.t-w400 {
    font-weight: 400 !important;
}

.box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.cursor-point {
    cursor:pointer!important;
}

#mainTopNavbar {
    height: 60px;
    border-bottom: 1px solid #202020;
    z-index: 10;
    top: 0 !important;
}

#mainTopNavbarContainer {
    width: 600px;
}

.container-micro {
    max-width: 932px !important;
}

.circle-flex-search {
    border: none !important;
    border-radius: 9px !important;
}

    .circle-flex-search button {
        border-radius: 9px !important;
    }

    .circle-flex-search input {
        border-radius: 9px !important;
    }

@media (min-width: 232px) {
    #adaptiveTopWindowsMargin {
        margin-top: 1rem;
    }

    #newIdeaWindow {
        background-color: black;
        width: 360px;
        min-height: 500px;
        border: 1px solid #242424;
    }
}

@media (min-width: 768px) {
    #adaptiveTopWindowsMargin {
        margin-top: 1rem;
    }

    #newIdeaWindow {
        background-color: black;
        width: 460px;
        min-height: 500px;
        border: 1px solid #242424;
    }
}

@media (min-width: 1432px) {
    #adaptiveTopWindowsMargin {
        margin-top: 4rem;
    }
}

@media (min-width: 1632px) {
    #adaptiveTopWindowsMargin {
        margin-top: 5.5rem;
    }
}
