<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @await RenderSectionAsync("Metatags", required: false)


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/adaptive.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/css/chat.css" />
    <link rel="stylesheet" href="~/css/idea.css" />
    <link rel="stylesheet" href="~/css/idea-upd.css" />
    <link rel="stylesheet" href="~/css/find-upd.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/updated.css" />
    <link rel="stylesheet" href="~/css/present.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet" />

    <title>@ViewData["Title"] — Идеи на Roundile </title>
</head>
<body class="bg-darkc text-white">

    <!---->
    @RenderBody()

    <footer>
        <div class="container-sm pt-5 pb-4">
            <div class="text-center">
                <label class="text-muted t-med t-sm">
                    Roundile 2022
                    <img src="~/media/site/logo.png" class="ms-1" height="18" />
                </label>
            </div>
            <div class="pt-2 d-flex justify-content-center flex-wrap">
                <a asp-route-section="ideas" asp-action="index" asp-controller="about" class="text-muted t-med t-microsm pe-3">Об идеях</a>
                <a asp-route-section="communication" asp-action="index" asp-controller="about" class="text-muted t-med t-microsm pe-3">Коммуникация</a>
                <a asp-route-section="contacts" asp-action="index" asp-controller="about" class="text-muted  t-med t-microsm pe-3">Контакты</a>
                <a asp-route-section="us" asp-action="index" asp-controller="about" class="text-muted t-med t-microsm pe-3">О нас</a>
                <!--<a asp-route-section="donate" asp-controller="about" class="text-muted t-med t-microsm pe-3">Поддержать</a>-->
            </div>
        </div>
    </footer>

    <!--
        <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!--Scripts-->
    <script src="~/js/presentation.js"></script>
    <script src="~/js/home.js"></script>
    <script src="~/js/authorization/auth.js"></script>
    <script src="~/js/create.js"></script>
    <script src="~/js/updated.js"></script>
    <!--
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    -->
</body>
</html>
