
@{
    Layout = "_Layout";
    ViewData["Title"] = "404 Not Found";
}

<div class="container-sm p-0 main_idea">
    <div style="min-height: 90vh;"
         class="d-flex col-12 justify-content-center align-items-center">
        <div class="col-11 col-md-9 col-lg-6">
            <div class="col-12 d-flex justify-content-center">
                <a href="/home" class="col-6 col-lg-9">
                    <img class="image-heartbit-animation col-12" src="~/media/site/logo.png" />
                </a>
            </div>
            <div class="text-center pt-2">
                <h1 style="font-weight: 800;">Страница не найдена</h1>
                <p class="clr-mute t-lg">
                    Запрашиваемый ресурс не был <br />
                    найден либо был перемещен
                </p>
                <a href="/home" class="clr-blue t-bold t-lg">На главную</a>
            </div>
        </div>
    </div>
</div>